[MASTER]
extension-pkg-whitelist=rasterio.crs

[MESSAGES CONTROL]
disable=logging-fstring-interpolation,
        too-few-public-methods,
        too-many-arguments,
        line-too-long,
        protected-access,
        fixme,
        too-many-public-methods,
        duplicate-code

enable=c-extension-no-member


[FORMAT]
max-module-lines=1250

[DESIGN]
max-locals=20
