include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include LICENSE_datacube
include LICENSE_xarray

recursive-exclude test *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.ipynb conf.py Makefile make.bat *.jpg *.png *.gif
prune docs/examples/.ipynb_checkpoints/
